﻿
/*====================================
 Free To Use For Personal And Commercial Usage
Author: http://binarytheme.com
 Share Us if You Like our work 
 Enjoy Our Codes For Free always.
======================================*/

/* user image section */
.user-section {
    margin-top:18px;
    font-size:22px;
    background-color:#bd9028;
}
.user-section-inner {
    height: 65px;
width: 65px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
overflow: hidden;
display: inline-block;
float: left;
margin-right: 15px;
margin-top: 10px;
}
    .user-section-inner img {
        margin-left:10px;
        width:65px;
        height:65px;
       
    }
.user-info {
    display: block;
    color:#fff!important;
    display: inline;
    padding: 10px;
    margin-bottom: 0px;
     margin-top: 10px !important;

}
.user-text-online {

    font-size:15px;
    color:#fff
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}

/* side-menu section */
.nav > li > a:hover, .nav > li > a:focus {
    background-color:rgba(74, 72, 126, 0);
}
.navbar-top-links  .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #bd9028;
}
.navbar-top-links > li > a {
color: #FFFFFF;
}
.nav > li > a {
padding: 15px 10px;
}
#side-menu {
    background-color:#3b2057;
}

 #side-menu a {
            color:#fff;
           border-bottom: 1px solid #bd9028 !important;
           height: 55px;
        }
        .selected {
            background-color:#bd9028;
        }
/* back colors */
        .blue {
            background-color:rgb(113, 159, 241);
        }
         .green {
            background-color:rgb(144, 236, 192);
        }
          .red {
            background-color:rgb(255, 102, 133);
        }
        .yellow {
            background-color:rgb(237, 253, 46);
        }

  /* No border */
.no-boder {
    border:0px solid #5bc0de !important;
}
/* tap nvbar Section */

#navbar {
    background-color:#3b2057;
}
.navbar-header{
    width: 250px !important;
}
.navbar-brand{
    padding-left:0px;
    width: 250px !important;
}
.navbar-brand img {
    height:60px;
    background-color: white;
    margin-top: -15px;
    width: 250px;
}
.top-label {
    position: absolute;
top: 50%;
right: 50%;
margin-top: -24px;
margin-right: -24px;
}

/*large font*/
.large-font {
    font-size:18px;
}

.body-Login-back {
    background-color:#84B899;
}

.margin-tips {
    margin:1px;
}
.navbar-default {
border-color: #3b2057;
}


@media(max-width:768px) {
    #wrapper {
        margin-top:140px!important;
        
    }
    .navbar-top-links{
        float: right;
        display: inline-block;
        position: relative;
    }
    .navbar-toggle{
        float: right;       
        

    }
    .navbar-header{
        width: 100% !important;
        color: black;
    }
    .navbar-brand{
        
        float: left;
    }
    .navbar-brand img{
        height:80px;
        background-color: white;
        margin-top: 0px;
        width: 250px;
        padding-left: 20px;
    }
}
@media(min-width:768px){
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1000px;
       
       
    }
    .level{
    width: 100%;
    overflow-x:auto;
    }
    .affix{
    top:50px;
    width: 250px;
    }

}

