@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Halant:500);
@import url(http://fonts.googleapis.com/css?family=Cambay);
#wrapper{
	margin:0px;
	padding:0px;
}
.navbar.navbar-default{
	background-color: transparent !important;
	border-color: transparent !important;
}
.nav.navbar-nav{
	text-align: center;
}
#mainimagediv{
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin: 0 auto;
	text-align: center;
	height: 600px;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

#mainimagediv .img-responsive{
	margin:0 auto;

}

.minigallery2 {
	padding-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}
.minigallery2 img{
	width: 200px;
	text-align: center;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}


.nopadding{
	margin: 0 !important;
	padding: 0 !important;
}

@media only screen and (max-width:40em) {
  .mainimagecontainer {
    /* background-image: url(/img/img2new.jpg); */
    background-size: 900px auto;
    background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	overflow: hidden;
  }
}
.mainimagecontainer{
	width: 100%;
	height: 600px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;

}

#subtitles{
	width: 100%;
	margin:0 auto;
    padding-top: 30px;

}

#subtitles ul{
	margin:0px;
	padding: 0px;
	text-align: center;
}
#subtitles ul li{
	list-style: none;
	display: inline;
	margin-left: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}
#subtitles ul li a{
	text-decoration: none;
	color: #111;
}
#subtitlescontent{
	font-size: 20px !important;
	padding: 20px !important;
	padding-top: 45px !important;
	text-align: center !important;
}
#ontent{
	font-size: 20px;
	padding: 20px;
	padding-top: 45px;

	text-align: center;
}
#subtitlescontent1{
	font-size: 20px;
	padding: 10px;
	padding-top: 5px;

	text-align: left;
}
.bodycontent {
	text-align: justify;
	font-size: 16px;
	padding: 15px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.bodycontent h2,h3{
	text-align: center;
	padding-bottom: 15px;
}

.2x2matrix{
	width: 200px;
}

#company{
	background-color: #3b2057;
	/* background-image: url('../img/purplestrip.jpg'); */
	background-repeat: repeat-y;
	color: white;
}

#contactus{
	background-color: #3b2057;
	/* background-image: url('../img/purplestrip.jpg'); */
	background-repeat: repeat-y;
	color: white;
}

h2{
	font-family: 'Halant', serif;
}

.currenttab {
	border-bottom: solid #3b2057 4px;
	
}

.currenttab a{
	font-weight: bold;
	color: #3b2057;
}