body { background: url(../img/bg-login.jpg) !important; }
.bold{font-weight: bold;}
.account-wall
{
    margin-top: 20px;
    padding: 10px 20px 30px 20px;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    /* border-radius: 10px; */
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.loginandregistrationbackground{
	background-color: #f1f1f1;
}

.registration{
	margin-top: -20px;
}

.logo{
	margin-top: -30px;	
}

.brand{
	width: 140px;
	margin-top: -35px;	
}

.purple a{
	color: #500067;
}

.purple i {
	color: #500067;	
}

.notificationdate{
	font-size: 10px;
}

.borderless td, .borderless th{
	border : none;
}

.notificationmessage td{
	height: 20px;
	background-color: #f9f9f9;
	color: #333;
	font-size: 13px;
	border-top: solid transparent 1px;
	/* border-radius: 50px; */
}

.closebutton{
	margin-top: -20px;
}

.notificationbox{
	background: none;
}
/*style="color:#500067;"
*/
.panel-primary > .panel-heading {
  background-color: #500067 !important;
}
.form-control{
	height: 40px !important;
	padding: 10px 10px 10px 10px !important;
	

}
.input-group{
	margin-bottom: 0px !important;
}
a{
	color: #428bca !important;
}

.registration-form .form-group{
	padding: 0px 0px;
	border-color: red;
}
.reg{
	padding: 10px 60px 10px 60px !important;
}