.navbar-top-links .dropdown-menu li a div {
  	white-space: nowrap;
}
.text-blue{
	color: #000064 !important;
}
.text-gold{
	color: #b08b57 !important;
}
.bg-gold{
	background: #b08b57 !important; /*hover #D0AD7C*/
}

.bg-blue{
    background: #000064 !important;
    border-color: #000064 !important;

}
.bg-blue:hover{
    background: #02024C !important;
}
.marg{
	margin-left: 0px;
	margin-right: 0px;
}
#schName{
	margin-top: 15px;
	padding-left: 10px;
}
.academics{
	padding: 10px;
	border: 1px #ccc solid;
	height: 200px;
}
.pan-menu{
	font-size: 1.1em;
	background: #dbdbdb;
	margin-bottom: 10px;
}
.pan-menu > div{
	color: #676a6c;
	padding: 10px 0px 10px 10px;
	border-right: 1px #eee solid;
	cursor: pointer;
}
.pan-menu .active{
	background: #cccccc;

}
.pan-menu i{
	/*font-size: 1.5em;*/
}
.pan-menu span{

}
.classes{
	margin-top: 10px;
}
.clss{
	margin-top: 20px;
}

.addstudent .row {
	margin-bottom: 15px !important;
}
#upld{
	display: none;
}
.img-container{
	width: 150px;
	max-width: 150px;
}
.img-control{
	margin-top: 10px;
	width: 200px;
}

.errors{
	/*list-style: none;*/
	color: #f4645f;
	padding-bottom: 7px;
}

.profilePic{
	width: 150px;
	height: 150px;
}

.profileImage{
	width: 150px;
}
.proffile{
	margin-top: 20px;
}
.detail{
	max-width: 100%;
	min-height: 170px;
}
.showevent tr td:first-child{
	width: 30%;
	font-weight: bolder;
}
.nboard{
	max-height: 574px;
	overflow-y: scroll; 
}
