.top-cover{
	height: 150px;
}
.top-cover.signup{
	background-image: url(../img/p_big3.jpg);
}
.top-cover.pricing{
	background-image: url(../img/p_big1.jpg);
}
.signupErrors li{
	list-style: none;
	color: #f4645f;
}
li.errors{
	list-style: none;
	color: #f4645f;
}
.errors{
	color: #f4645f;
}
.signup-form h2{
	margin: 40px 0;
}
.sbtn,.agree{
	margin-top: 20px;
	margin-bottom: 20px;
}

.maindom{
	padding: 6px 0 0 2px;
}
.protl{
	padding: 6px 0 0 0;
}
.dominput{
	padding: 0;
}
.protl, .maindom{
	color: #000064;
}
.domlbl{
	padding-top: 6px;
}

.text-blue{
	color: #000064;
}
.text-gold{
	color: #b08b57;
}
.bg-gold{
	background: #b08b57; /*hover #D0AD7C*/
}

.bg-blue{
    background: #000064;
    border-color: #000064;

}
.bg-blue:hover{
    background: #02024C;
}

footer{
	background: #2e353d;
	overflow-x: hidden;
	margin-top: 10px;
}
footer li{
	list-style: none;
	font-size: 1.1em;
}
footer ul li:first-child{
	font-weight: bolder;
	color: #ffffff;
	padding-bottom: 8px;
}
footer .container{
	padding-top: 50px;
	padding-bottom: 20px;
}
footer .container a{
	color: #ffffff;
}
footer .footer-b{
	margin-top: 15px;
	background: #1B1B1B;	
}
footer .footer-b a{
	color: #b08b57;
}
section.info{
	font-size: 2.3em;
}
section.info span{
	font-weight: bolder;
}

.val1{
	padding-right: 15px;
}
.val2, .eqn{
	padding-left: 15px;
}

.modules li, .modules ul{
	list-style: none;
	padding-left: 0;
	line-height: 2;
	font-size: 1.05em;
}