@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


a:hover,
a:active { color: #000; text-decoration: none; }

nav { padding: 0 24px; }
nav h1 {
  line-height: 120px;
  display: inline-block;
  width: 80%;
  margin: 0;
  float: left;
}
nav small,
.tag-line { color: #bdc3c7; font-size: 16px; }
.tag-line { display: none; padding: 24px; }
nav a {
  display: inline-block;
  font-weight: bold;
  line-height: 120px;
  text-align: right;
  width: 20%;
  color: #95A5A6;
  float: left;
  font-size: 16px;
  text-decoration: none;
  vertical-align: bottom;
}

h2 {
  margin: 0;
  line-height: 120px;
  padding: 0 24px;
}

.column {
  
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding: 0 24px;
  line-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}


.blue { background-color: #00B4FF; left: 50%; }
.blue h2,
.blue ul li { background-color: #00B4FF; border-bottom: 1px solid #0090CC; }

.black { background-color: #515151; left: 0; }
.black h2,
.black ul li { background-color: #515151; border-bottom: 1px solid #444444; }

input {
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #444444;
  padding: 20px 24px;
  line-height: 20px;
  outline: none;
  color: #fff;
  margin: 0;
  display: block;
  width: 100%;
  background-color: #444;
}
h3 { font-weight: bolder; font-weight: 900; }
.muted { color: #BDC3C7; }

@media (max-width : 48rem) {
  nav small { display: none; }
  nav h1, nav a { line-height: 80px; }
  .tag-line { display: block; }

  .column {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    top: auto;
  }
  .black,
  .blue { left: auto; }
}


/************************************************
  Modal By @clintonhalpin
  http://codepen.io/clintonhalpin/pen/cgbmk
/*************************************************/
.overlay {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  visibility: hidden;
}

.modal__contents {
  background: white;
  width: 32rem;
  position: fixed;
  left: 50%;
  margin-left: -16rem;
  top: 6rem;
  min-height: 32rem;
  padding: 48px;
}

.modal__close {
  position: fixed;
  right: 2rem;
  top: 2rem;
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
}

.modal--show {
  visibility: visible;
}

.modal--transition {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal--show .modal--transition {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

@media (max-width : 48rem) {

  .modal__contents {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
  }

  .modal--transition {
    -webkit-transform: translateX(-0) translateY(150%);
    -moz-transform: translateX(-0) translateY(150%);
    -ms-transform: translateX(-0) translateY(150%);
    transform: translateX(-0) translateY(150%);
  }
}
