<div class="modal-header">
    <h3 class="modal-title pull-left">Event</h3>
    <span class="btn pull-right" ng-click="cancel()"><i class="fa fa-times"></i></span>
    <div class="clearfix"></div>
</div>
<div class="modal-body eventModal">
   <form role="form" class="form-horizontal addstudent"  ng-submit="transferBalance();" >
      
      <div class="form-group">
          <label for="scl" class="col-sm-3 control-label">Enter Password </label>
          <div class="col-sm-9">
               <input type="password" ng-model="postData.password" id="scl" class="form-control">
          </div>

      </div>
  </form>
</div>
<div class="modal-footer">
    
</div>