<div class="modal-header clearfix">
<button class="btn btn-sm btn-default pull-right" ng-click="cancel()"><i class="fa fa-times"></i></button>
    
</div>
<div class="modal-body">
    <center>
    	<h1><b style="color: #3b2057;">Please Wait </b>We are processing your request ...</h1>
    </center>
</div>
<div class="modal-footer">
  
</div>
