<div class="modal-header clearfix">
<!-- <button class="btn btn-sm btn-default pull-right" ng-click="cancel()"><i class="fa fa-times"></i></button> -->
    <h3 class="modal-title text-center">Brief User Info</h3>
</div>
<div class="modal-body">
    <!-- <center>
    	<h1><b style="color: #3b2057;">Please Wait </b>We are processing your request ...</h1>
    </center> -->
    <div class="row">
        <div class="col-md-4">
            <img ng-if="message.profile_image != null " ng-src="{{message.profile_image}}" class="img img-responsive img-thumbnail">
            <img ng-if="message.profile_image == null " ng-src="/img/avatar.png" class="img img-responsive img-thumbnail">
         
        </div>
        <div class="col-md-8">
            <p>Name: {{message.firstname}} {{message.lastname}}</p>
            <p>Username: {{message.username}} </p>
            <p>Phone Number: {{message.phone}} </p>
            <p>Email: {{message.email}} </p>
            <p ng-if="message.premium_referrer">Rank: {{message.ranks.rank_name}} </p>
           
            
        </div>
    </div>
</div>
<!-- <div class="modal-footer">
  	<button class="btn btn-primary" ng-click="ctrl.close()">close</button>
</div> -->
